* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* ------------------------ */
/* What We Do section */
/* ----------------------- */
.block-title {
  margin-top: 2%;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
}
.row {
  --bs-gutter-x: 1rem;
  padding: 2% 0% 2% 0%;
}
.card {

  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 180px 180px 80px;
  grid-template-areas: "image" "text";
  width: 400px !important;
  height: fit-content !important;
  font-family: "Gowun Dodum", sans-serif;
  border-radius: 20px !important;
  background: rgba(253, 242, 242, 0.74) !important;
  text-align: center;
  margin: 15px;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-title {
  
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 700;
}

.card-text {
  background-blend-mode: lighten;
  grid-area: text;
  text-align: justify;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

.card-text-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.card:hover {
  transform: scale(1.023);
  transition: 300ms ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 1284px) {
  .row {
    --bs-gutter-x: 1rem;
    padding: 2% 0% 2% 0%;
    margin: 1% !important;
  }
  .card {
    display: grid;
    width: 300px !important;
    height: fit-content !important;
  }
  .card-text{
    font-size: 0.8rem;
  }
  img{
    height: 170px;
  }
}

@media screen and (max-width: 1028px) {
  .card {
    display: grid;
    width: 280px !important;
    height: fit-content !important;
  }
  .card-text{
    font-size: 0.8rem;
  }
  
}

@media screen and (max-width: 968px) {
  .card {
    display: grid;
    width: 240px !important;
    height: fit-content !important;
  }
  .card-title{
    font-size: 1rem;
  }

  .card-text{
    font-size: 0.8rem;
  }

  img {
    height: 180px;
  }
}

@media screen and (max-width: 845px) {
  .card {
    display: grid;
    width: 200px !important;
    height: fit-content !important;
  }

  .card-title{
    font-size: 1rem;
  }

  .card-text{
    font-size: 0.8rem;
  }

  img{
    height: 130px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    display: grid;
    width: 200px !important;
    height: fit-content !important;
  }

  .card-title{
    font-size: 1rem;
  }
  .card-text {
    grid-area: text;
    text-align: var(--bs-gutter-x);
    font-family: "Montserrat", sans-serif;
    font-size: 0.78rem;
  }

  img {
    height: 125px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 320px !important;
    height: fit-content !important;
  }
  img {
    height: initial;
    width: initial;
  }
}
/* ------------------------ */
/* What We Do section */
/* ----------------------- */
