*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    /* overflow: hidden; */
}
.nav1 {
    height: 80px;
    width: 100vw;
    
    background-color:white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    /* position: relative; */
  }
  
  .nav1 > .nav-header1 {
    display: inline;
    margin-top: 60px;
    position: relative;
    bottom: -25%;
    padding-left: 10px;
    /* height: auto; */
    height: 35px !important;
  }
  
  .nav1 > .nav-header1 > .nav-title1 {
    display: inline-block;
    font-size: 30px;
    color: black;
    font-family: 'Poppins', sans-serif;
  
  }
  .nav-header1  img{
   
    margin: auto 5px;
    
  /* bottom: 40px; */
  }
  
  .nav1 > .nav-btn1 {
    display: none;
  }
  
  .nav1 > .nav-links1 {
    display: inline;
    float: right;
    font-size: 18px;
    margin-top:7px
  }
  
  .nav1 > .nav-links1 > a {
    display: inline-block;
    padding: 10px 10px 13px 10px;
    text-decoration: none;
    color: #5e5b5b;
    
    border-radius: 50%;
    height: 45px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    
    
    font-family: 'Open Sans', sans-serif;
    margin: 8px 10px;
  }
  .skyblue{
    box-shadow: 0 0 10px rgb(56 120 229 / 1);
  }
  .red{
    box-shadow: 0 0 10px rgb(220 60 42 / 1);
  }
  .yellow{
    box-shadow: 0 3px 10px rgb(233 175 0 / 1);
  }
  .green{
    box-shadow: 0 3px 10px rgb(43 157 74 / 1);
  }
  
  .nav1 > .nav-links1 > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav1 > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav1 > .nav-btn1 {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav1 > .nav-btn1 > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav1 > .nav-btn1 > label:hover,.nav1  #nav-check:checked ~ .nav-btn1 > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav1 > .nav-btn1 > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav1 > .nav-links1 {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav1 > .nav-links1 > a {
      display: block;
      width: 100%;
    }
    .nav1 > #nav-check:not(:checked) ~ .nav-links1 {
      height: 0px;
    }
    .nav1 > #nav-check:checked ~ .nav-links1 {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  .btn1{
    border: none;
    background: #4185F4;
    color: #ffffff;
    height: 42px;
    /* margin-right: 10px; */
    width: 90px;
    font-size:1.2rem;
    font-weight:500;
border-radius: 10px;
padding: 10px 10px 13px 10px;
    margin: 8px 10px;
  }


                                       /* INTRO */
/* .intro{
display: grid;
grid-template-columns: 30% 70%;
width: 100vw;
} */
/* .video img{
  position: relative;
  left: 10%;
} */
.container{ 
  margin: 20px 0;
}
.main1{
  margin: 20px 0;
}
.content{ 
  vertical-align:center;
  /* padding:20px; */
}
.content h2{
  font-size:4.6rem;
  transform: translate(0%,50%);
  margin-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #E1423B;
  /* color: #F5BB00; */

  /* color: #32AB4E; */
  /* padding: 20px; */
}
.type{
  font-size: 2rem;
  color:#333;
}
.content h2 span{
  font-size:3rem;
  font-family: 'Source Sans Pro', sans-serif;
  /* color: #3E82F1; */
  /* color: #F5BB00; */
  /* color: #E1423B; */
  color: #32AB4E;


}
.robot img{
  width: 400px;
  height: 550px;
  text-align: left;
  float: left;
  position: relative;
  left: -20%;
}
@media screen and (max-width:1115px) {
  .content h2{
    font-size:4rem;
  }
  .content h2 span{
    font-size: 2.5rem;
  }
  .robot img{
    width: 350px;
    height: 500px;
  }
  
}
@media screen and (max-width:740px){
  .robot img{
    align: center;
    /* margin: 10px auto; */
  
  }
}
@media screen and (max-width:995px){
  .robot img{
    width: 300px;
  }
  .content h2{
    font-size: 3rem;
  }
  .content h2 span{
    font-size: 2rem;
  }
  
}
@media screen and (max-width:568px){
  .robot img{
    height:420px;
    width:300px;
    position: relative;
    left: 20%;
    margin-top: 10%;
  }
  .content h2{
    font-size: 3rem;
  }
  .content h2 span{
    font-size: 2.5rem;
  }
}
@media screen and (max-width:503px){
  .robot img{
    position: relative;
    left: 10%;
  }
  .content h2{
    font-size: 2.5rem;
  }
  .content h2 span{
    font-size: 1.8rem;
  }
  .robot img{
    width: 250px;
    height: 350px;
  }
}

                                /* Who We are */

.dscimg{ 
  width: 600px;
  height: 400px;
}
.main2{
  margin: 20px 0;
}
.aboutcontent{ 
  padding-top: 40px;
}
.aboutcontent h2{

font-size:2rem;
letter-spacing: 5px;
font-weight: 700;
padding-left: 20px;
}
.aboutcontent p{
  justify-content:center;
  font-size: 1.5rem;
  padding: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  width:90%
  align-items: center;
}
@media screen and (max-width:1029px) {
  .dscimg{ 
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width:568px) {
  .dscimg{ 
    width: 350px;
    height: 250px;
  }
  .aboutcontent h2{
    font-size: 1.8rem;
  }
  .aboutcontent p{
    font-size: 1.2rem;
  }
}